.section{
    border: 1px solid #ddd;
    border-style: solid;
    min-height: 500px;
    border-spacing: 10cm;

}
.form-control{
   /* border-radius: 20%; */
    border-style: groove;
}
/*.container{
    max-width: 1040px;
    border: 1px solid black;
    margin: 0 auto;
    align-content: center;
} */
.clear{
    clear: both;
}

#mast{
    position: fixed;
}

#section{
    background: url('https://via.placeholder.com/150/0000FF/808080 ?Text=BlogginC/O https://placeholder.com/');
    background-size: cover;
    padding: 100px;

}
.wrap{
    background-color:rgba(212, 150, 150, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px auto ;
    width: 70%;
    align-content: center;
}

/*Comment section*/

#respond {
    margin-top: 40px;
  }
  
  #respond input[type='text'],
  #respond input[type='email'],
  #respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
  }